body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

* {
  box-sizing: border-box !important;
}

a {
  text-decoration: none !important;
}

:root {
  --main-bg: #fff;
  --second-bg: #f8fafd;
  --header-bg: #f3f6fc;
  --hover-color: #dce6f9;
  --logo-bg: #001d35;
  --logo-color: #c2e7ff;
  --text-color: #444746;
  --button-hover: #8ac3e7;
  --selected-color: #c2e7ff;
  --border-color: #e1e3e1;
  --placeholder-color: #999;
  --gray: #edf2fa;
  --scrollbar-bg: #f0f0f0;
  --scrollbar-thumb: #c0c0c0;
}

.theme-dark {
  --main-bg: #1f1f1f;
  --second-bg: #28292a;
  --header-bg: #2d2f31;
  --hover-color: #404345;
  --logo-bg: #c2e7ff;
  --logo-color: #004a77;
  --text-color: #c4c7c5;
  --button-hover: #005f8d;
  --selected-color: #004a77;
  --border-color: #444746;
  --placeholder-color: #8c8c8c;
  --gray: #34363a;
  --scrollbar-bg: #333333;
  --scrollbar-thumb: #555555;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--scrollbar-bg);
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb);
  border-radius: 5px;
}

.header-home {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.button {
  padding: 13px 20px;
  background-color: var(--selected-color);
  color: var(--text-color);
  font-size: 15px;
  border: none;
  border-radius: 8px;
  position: relative;
  transition-duration: 0.4s;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.button:hover {
  background-color: var(--button-hover);
  cursor: pointer;
}

.button:after {
  content: "";
  background: #f1f1f1;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s;
}

.button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
}

@media (max-width: 400px) {
  h2 {
    font-size: 20px !important;
  }

  h3 {
    font-size: 18px !important;
  }

  h4 {
    font-size: 16px !important;
  }

  h5 {
    font-size: 15px !important;
  }
}
